<div class="products-layout">
  <div class="products-filters-desktop">
    <app-product-filters
      [filterGroups]="filterGroups"
      [selectedFilters]="selectedFilters"
      (filterSelected)="onFilterSelected($event)"
      (reset)="resetFilters()"
    ></app-product-filters>
  </div>
  <div class="products">
    <div class="products-header">
      <div class="products-header-top">
        <div class="products-search">
          <app-product-search (search)="onSearch($event)"></app-product-search>
        </div>
        <div class="products-filters-mobile" (click)="openFiltersModal()">
          <img src="/images/svg/filters-icon.svg" alt="Filters" />
        </div>
      </div>
      <div class="products-sort">
        <app-product-sort
          [sortBy]="sortBy"
          (sortChange)="sortProducts($event)"
        ></app-product-sort>
      </div>
    </div>
    <main>
      @if(filteredProducts.length > 0){
      <app-product-list
        [products]="pagedProducts"
        (productClick)="navigateToProduct($event)"
      ></app-product-list>
      <div class="products-count">
        Total products: {{ filteredProducts.length }}
      </div>
      } @else {
      <div class="no-products-message">
        <app-empty-state
          title="No products found"
          subtitle="Try adjusting your search criteria or browse our categories"
          icon="search-x"
        ></app-empty-state>
      </div>
      }
    </main>
    <div class="products-pagination">
      <app-product-pagination
        [totalItems]="filteredProducts.length"
        [pageSize]="pageSize"
        [currentPage]="currentPage"
        (pageChange)="goToPage($event)"
      ></app-product-pagination>
    </div>
  </div>
</div>

<app-modal
  [isOpen]="showFiltersModal"
  type="confirm"
  (close)="closeFiltersModal()"
  (confirm)="applyFiltersFromModal()"
  (cancel)="closeFiltersModal()"
>
  <app-product-filters
    [filterGroups]="filterGroups"
    [selectedFilters]="selectedFilters"
    (filterSelected)="onFilterSelected($event)"
    (reset)="resetFilters()"
  ></app-product-filters>
</app-modal>
