.products-layout {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .products-layout {
    flex-direction: column;
    align-items: center;
  }
}

.products-filters-desktop {
  width: 295px;
  flex-shrink: 0;
  display: block;
}
@media (max-width: 991px) {
  .products-filters-desktop {
    width: 230px;
  }
}
@media (max-width: 767px) {
  .products-filters-desktop {
    width: 100%;
  }
}

.products-filters-desktop {
  display: block;
}
.products-filters-mobile {
  display: none;
}

@media (max-width: 768px) {
  .products-filters-desktop {
    display: none;
  }
  .products-filters-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    width: 46px;
    height: 46px;
    cursor: pointer;
    border-radius: 62px;
    transition: background-color 0.3s ease 0s;
  }
  .products-filters-mobile:hover {
    background-color: #d5d5d5;
  }
}

.products {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-count {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  font-size: 1.2rem;
  color: #888;
}

.no-products-message {
  margin: 40px 0;
  text-align: center;
  color: #888;
  font-size: 1.2rem;
}

.products-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.products-header-top {
  flex: 1;
}

@media (max-width: 768px) {
  .products-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .products-header {
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }
}

.products-search {
  flex: 1;
}
.products-sort {
  display: flex;
  justify-content: flex-end;
}

.products-pagination {
  width: 100%;
  margin: 20px 0;
  padding-top: 20px;
  border-top: 1px solid var(--gray-color-light);
}
