.filters-card {
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px 24px;
}

.filters-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  min-width: 150px;
}

.filters-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.filters-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  width: 36px;
  height: 36px;
  border-radius: 62px;
  background-color: #f0f0f0;
}

.filters-icon:hover {
  background-color: var(--secondary-color-light);
}

.reset-filters-btn {
  margin: 20px 0 10px 0;
  width: 100%;
  padding: 10px 4px;
  font-size: 1rem;
  border-radius: 62px;
  border: none;
  background: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}
.reset-filters-btn:hover {
  background: var(--primary-color-hover);
}

.count-badge {
  background: var(--grey-dark-color);
  color: white;
  font-size: 12px;
  min-width: 22px;
  height: 22px;
  border-radius: 12px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  animation: bounceIn 0.3s ease;
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
