<div class="filters-card">
  <div class="filters-header">
    <span class="filters-title">Filters</span>
    <span class="count-badge">{{ filteredProductsCount() }}</span>
    <span class="filters-icon" (click)="toggleCollapse()">
      <img src="/images/svg/filters-icon.svg" alt="Filter Icon" />
    </span>
  </div>
  @if (!collapsed) { @for (group of filterGroups(); track group) {
  <app-product-filter-group
    [title]="group.title"
    [options]="group.options"
    [groupKey]="group.key"
    [selectedValue]="selectedFilters()?.[group.key] || null"
    (select)="onFilterSelected($event)"
  ></app-product-filter-group>
  }
  <button class="reset-filters-btn" (click)="resetFilters()">
    Reset filters
  </button>
  }
</div>
