<div class="filters-card">
  <div class="filters-header">
    <span class="filters-title">Filters</span>
    <span class="filters-icon" (click)="toggleCollapse()">
      <img src="/images/svg/filters-icon.svg" alt="Filter Icon" />
    </span>
  </div>
  <ng-container *ngIf="!collapsed">
    <ng-container *ngFor="let group of filterGroups">
      <app-product-filter-group
        [title]="group.title"
        [options]="group.options"
        [groupKey]="group.key"
        [selectedValue]="selectedFilters[group.key]"
        (select)="filterSelected.emit($event)"
      ></app-product-filter-group>
    </ng-container>
    <button class="reset-filters-btn" (click)="resetFilters()">
      Reset filters
    </button>
  </ng-container>
</div>
