<div class="filters-card">
  <div class="filters-header">
    <span class="filters-title">Filters</span>
    <span class="filters-icon" (click)="toggleCollapse()">
      <img src="/images/svg/filters-icon.svg" alt="Filter Icon" />
    </span>
  </div>
  <hr class="filters-divider" />

  <ng-container *ngIf="!collapsed">
    <ng-container *ngFor="let group of filterGroups">
      <div class="filters-group-title">{{ group.title }}</div>
      <ul class="filters-list">
        <li
          class="filters-item"
          *ngFor="let option of group.options"
          [class.selected]="selectedFilters[group.key] === option"
          (click)="filterSelected.emit({ group: group.key, value: option })"
        >
          <span>{{ option }}</span>
          <span class="filters-arrow">&#8250;</span>
        </li>
      </ul>
      <hr class="filters-divider" />
    </ng-container>
  </ng-container>
</div>
