<hr class="filters-divider" />
<div class="filters-group-title" (click)="toggle()">
  {{ title }}
  <span class="arrow">
    <svg *ngIf="!expanded" width="18" height="18" viewBox="0 0 24 24">
      <path
        d="M7 10l5 5 5-5"
        stroke="#888"
        stroke-width="2"
        fill="none"
        stroke-linecap="round"
      />
    </svg>
    <svg *ngIf="expanded" width="18" height="18" viewBox="0 0 24 24">
      <path
        d="M7 14l5-5 5 5"
        stroke="#888"
        stroke-width="2"
        fill="none"
        stroke-linecap="round"
      />
    </svg>
  </span>
</div>

<ul class="filters-list" *ngIf="expanded">
  <li
    class="filters-item"
    *ngFor="let option of options"
    [class.selected]="selectedValue === option"
    (click)="select.emit({ group: groupKey, value: option })"
  >
    <span>{{ option }}</span>
    <span class="filters-arrow">&#8250;</span>
  </li>
</ul>
