<div class="products-layout">
  <div class="product-filters">
    <app-product-filters
      [filterGroups]="filterGroups"
      [selectedFilters]="selectedFilters"
      (filterSelected)="onFilterSelected($event)"
      (reset)="resetFilters()"
    ></app-product-filters>
  </div>
  <div class="products">
    <main>
      @if(filteredProducts.length > 0){
      <app-product-list [products]="pagedProducts"></app-product-list>
      <div class="products-count">
        Total products: {{ filteredProducts.length }}
      </div>
      } @else {
      <div class="no-products-message">
        No products found for the selected filters.
      </div>
      }
    </main>
    <app-pagination
      [totalItems]="filteredProducts.length"
      [pageSize]="pageSize"
      [currentPage]="currentPage"
      (pageChange)="goToPage($event)"
    ></app-pagination>
  </div>
</div>
