.products-layout {
  display: flex;
  gap: 24px;
}

app-product-filters {
  width: 295px;
  flex-shrink: 0;
  display: block;
}

.products {
  flex: 1 1 0%;
}

@media (max-width: 768px) {
  .products-layout {
    flex-direction: column;
  }
  app-product-filters {
    width: 100%;
    margin-bottom: 16px;
  }
}
