.cart-container {
  max-width: 1240px;
  margin: 0 auto;
}

.cart-title {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #000;

  @media (max-width: 768px) {
    font-size: 2rem;
  }

  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

.cart-layout {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 1.25rem;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 350px;
    gap: 1rem;
  }

  @media (max-width: 870px) {
    grid-template-columns: 1fr;
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.5rem;
  border: 1px solid var(--grey-light-color);
  border-radius: 1.25rem;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 768px) {
    padding: 1rem 0.5rem;
    border-radius: 0.75rem;
  }
}
