<div class="cart-container">
  <h1 class="cart-title">YOUR CART</h1>
  <div class="cart-layout">
    <div class="cart-items">
      @for (item of cartItems(); track item.id) {
      <app-cart-item
        [cartItem]="item"
        (quantityChanged)="onQuantityChange($event)"
        (itemRemoved)="onRemoveItem($event)"
      ></app-cart-item>
      @if ($index < cartItems().length - 1) {
      <app-gray-line></app-gray-line>
      } }
    </div>
    <div class="order-summary-section">
      <app-order-summary
        [cartSummary]="cartSummary()"
        (checkoutClicked)="onCheckout()"
      ></app-order-summary>
    </div>
  </div>
</div>
