@if (totalPages > 1) {
<nav class="pagination">
  <button
    (click)="goToPage(currentPage() - 1)"
    [disabled]="currentPage() === 1"
  >
    <img src="/images/svg/arrow-left.svg" alt="&larr;" />
    Previous
  </button>
  <div class="pagination-pages">
    @for (page of pages; track page) {
    <button (click)="goToPage(page)" [class.active]="page === currentPage()">
      {{ page }}
    </button>
    }
  </div>
  <button
    (click)="goToPage(currentPage() + 1)"
    [disabled]="currentPage() === totalPages"
  >
    Next
    <img src="/images/svg/arrow-right.svg" alt="&rarr;" />
  </button>
</nav>
}
