.filters-group-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-icon img {
  transition: transform 0.3s;
}

.arrow-top img {
  transform: rotate(180deg);
}

.filters-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filters-item {
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0, 0.6);
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 62px;
}

.filters-item.selected,
.filters-item:hover {
  background: rgb(0, 0, 0, 0.2);
}

.filters-arrow {
  font-size: 1.6rem;
  color: #888;
}

.filters-arrow img {
  transform: rotate(270deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters-divider {
  border: none;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  margin: 20px 0;
}
