<form class="address-form" [formGroup]="addressForm">
  <div class="control">
    <input formControlName="fullName" type="text" placeholder="Full Name" />
  </div>
  <div class="control">
    <input formControlName="street" type="text" placeholder="Street Address" />
  </div>
  <div class="control">
    <input formControlName="city" type="text" placeholder="City" />
  </div>
  <div class="control">
    <input formControlName="postalCode" type="text" placeholder="Postal Code" />
  </div>
  <div class="control">
    <input formControlName="country" type="text" placeholder="Country" />
  </div>
</form>
