.badge {
  position: absolute;
  color: white;
  font-size: 12px;
  min-width: 22px;
  height: 22px;
  border-radius: 12px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-weight: 500;
  animation: bounceIn 0.3s ease;
  z-index: 1;
}

.badge--top-right {
  top: -2px;
  right: -2px;
}

.badge--top-left {
  top: -2px;
  left: -2px;
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
