.checkout-container {
  max-width: 1240px;
  margin: 0 auto;
}

.checkout-content {
  display: flex;
  gap: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.checkout-left {
  flex: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (max-width: 768px) {
    border-radius: 0.75rem;
    gap: 1rem;
  }
}

.checkout-right {
  flex: 1;
}
.checkout-user-info {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.5rem;
  border: 1px solid var(--grey-light-color);
  border-radius: 1.25rem;
}
