<form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1>Hello 👋</h1>
  <p>
    Are you new here?
    <span>
      <a routerLink="/register" class="registration">Create an account</a></span
    >
  </p>
  <div class="control">
    <label for="email">E-Mail</label>
    <app-text-input
      [control]="fc.email"
      [showErrorsWhen]="isSubmitted"
      type="email"
      label="Email"
    />
  </div>

  <div class="control">
    <label for="password">Passwort</label>
    <app-text-input
      [control]="fc.password"
      [showErrorsWhen]="isSubmitted"
      type="password"
      label="Password"
    />
  </div>

  <button class="btn login">Login</button>
</form>
