<header class="main-header">
  <div class="burger-wrapper">
    <app-burger-menu
      [isOpen]="isMobileMenuOpen"
      (toggle)="toggleMobileMenu()"
      (close)="closeMobileMenu()"
    >
    </app-burger-menu>
  </div>
  <div class="logo" routerLink="/">
    <img src="/images/svg/logo-small.svg" alt="Logo" />
  </div>
  <nav class="main-menu">
    <a class="menu-link" routerLink="/catalog" routerLinkActive="active"
      >Catalog</a
    >
    <a class="menu-link" routerLink="/modal" routerLinkActive="active"
      >Modal Test</a
    >
    <a class="menu-link" routerLink="/empty-state" routerLinkActive="active"
      >Empty State Test</a
    >
  </nav>
  <div class="header-actions">
    <div class="header-icon">
      <img src="/images/svg/basket.svg" alt="Basket" />
    </div>
    <div class="header-icon">
      <img src="/images/svg/user.svg" alt="User" />
    </div>
  </div>
</header>
