<header class="main-header">
  <div class="burger-wrapper">
    <app-burger-menu
      [isOpen]="isMobileMenuOpen"
      (toggle)="toggleMobileMenu()"
      (close)="closeMobileMenu()"
    >
    </app-burger-menu>
  </div>
  <a class="logo" routerLink="/catalog">
    <img src="/images/svg/logo-small.svg" alt="Logo" />
  </a>
  <nav class="main-menu">
    <a class="menu-link" routerLink="/catalog" routerLinkActive="active">Man</a>
    <a class="menu-link" routerLink="/modal" routerLinkActive="active">Frau</a>
    <a class="menu-link" routerLink="/empty-state" routerLinkActive="active"
      >Kind</a
    >
  </nav>
  <div class="header-actions">
    <a class="header-icon" routerLink="/cart">
      <img src="/images/svg/basket.svg" alt="Basket" />
    </a>
    <a class="header-icon" routerLink="/login">
      <img src="/images/svg/user.svg" alt="User" />
    </a>
  </div>
</header>
