<form class="form-register" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h1>Create New Account</h1>
  <p>
    Already a user? Login here
    <span> <a routerLink="/login" class="registration">Login</a></span>
  </p>

  <div class="control">
    <label for="email">First Name</label>
    <app-text-input
      [control]="fc.firstName"
      [showErrorsWhen]="isSubmitted"
      type="text"
      label="First Name"
    />
  </div>
  <div class="control">
    <label for="email">Last Name</label>
    <app-text-input
      [control]="fc.lastName"
      [showErrorsWhen]="isSubmitted"
      type="text"
      label="Last Name"
    />
  </div>
  <div class="control">
    <label for="email">E-Mail</label>
    <app-text-input
      [control]="fc.email"
      [showErrorsWhen]="isSubmitted"
      type="email"
      label="Email"
    />
  </div>

  <div class="control">
    <label for="password">Passwort</label>
    <app-text-input
      [control]="fc.password"
      [showErrorsWhen]="isSubmitted"
      type="password"
      label="Password"
    />
  </div>

  @if (error) {
  <div class="form-error">{{ error }}</div>
  }

  <button class="btn register" [disabled]="isLoading || registerForm.invalid">
    @if (!isLoading) { <span>Signup</span>} @if (isLoading) {
    <span>Signing up...</span>}
  </button>
</form>
